@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1 class="m-2">Stylists</h1>


@if (@Model.Count == 0)
{
  <h3>No stylists have been added yet!</h3>
} 

<ul class="mb-5 list-group">
  <li class="listTitle">Stylist name | Number of clients</li>
  @foreach(Stylist stylist in Model)
  {
    <li class="list-group-item list-group-item-action">@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId }) <span class='gray'> | @stylist.Clients.Count()</span></li>
  }
</ul>

<div class="button">
  <p>@Html.ActionLink("Add new stylist", "Create")</p>
</div>